
<template>  

  <body class="home-bg">
    <div class="home-headline">
      <h1>Test Commander</h1>
      <!-- <tr *ngFor="let deck of decks"> -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <ng-container *ngIf="decks.length">
             <tbody *ngFor="let deck of decks; let i = index">
              <td>{{deck}}</td>
               <!-- <tr *ngFor="let deck of doc.decks;">
                 <td>{{deck.department}}</td>
                 <td>{{deck.name}}</td>
                 <td>{{deck.age}}</td>
               </tr> -->
             </tbody>
           </ng-container>
         </table>
        
      <li *ngFor="let deck of decks; let i = index;">
        <p>{{i}} </p>
        <div>
          
          <img src="deck.commander_image" alt="">
        </div>
      <!-- </li> -->

  </div>
</body>
</template> 


<style>
h1 {
  color: mediumseagreen;
}
.home-headline {
  text-align: center;
}
</style>